body::before {
  content: "";
  display: block;
  height: 100px;
}

/* Sort dropdown */
.sort-container {
  margin-bottom: 40px; /* Increase margin-bottom for more space */
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.sort-label {
  font-weight: bold;
  margin-right: 10px; /* Add some spacing between label and select */
  background-color: #5cb85c; /* Lighter green background color */
  color: #fff; /* White text color */
  padding: 5px 10px; /* Add padding for better appearance */
  border-radius: 5px; /* Add border radius for rounded corners */
}

.sort-select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #28a745; /* Green */
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.sort-select:focus {
  outline: none;
  border-color: #218838; /* Darker Green */
}

.examples-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
  margin: 20px auto 0; /* Add margin-top for space between containers */
  max-width: 800px;
}

.example {
  width: 100%; /* Occupy full width */
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.example-image {
  max-width: 100%; /* Set maximum width */
  max-height: 250px; /* Set maximum height */
  height: auto; /* Ensure aspect ratio is maintained */
  border-radius: 5px;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 15px;
}

.info span {
  font-weight: bold;
  color: #333;
}

.vote-button-container {
  display: flex;
  align-items: center;
}

.vote-button {
  padding: 10px 20px;
  background-color: #28a745; /* Green */
  color: #9d8a8a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vote-button:hover {
  background-color: #218838;
}

.sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-container-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.place-container-left,
.place-container-middle,
.place-container-right {
  flex-basis: 30%;
  margin: 20px;
}
