/* navigationbare*/
/*body::before {
    content: '';
    display: block;
    height: 100px;
}*/
/* styles.css */

.full-height-width {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom-layout {
  background-color: #e2e8f0; /* light gray */
  padding: 16px;
  border-radius: 8px;
  min-height: 600px; /* minimum height */
  flex: 1; /* Takes up all available space */
  box-sizing: border-box; /* Includes padding in height calculation */
}

/* Navbar */
/* Navbar */
.navbar {
  height: 100px;
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  padding: 10px 0; /* Padding for the navbar */
  text-align: center; /* Center-align text */
}
/* Style for the container */
.sort-container {
  display: flex;
  align-items: center; /* Aligns the label and select box vertically */
  margin: 20px 0; /* Provides some space around the container */
  font-family: "Arial", sans-serif; /* Modern, readable font */
}

/* Style for the label */
.sort-label {
  margin-right: 10px; /* Space between the label and the select box */
  color: #666; /* Sophisticated grey color for readability */
  font-size: 16px; /* Optimal size for readability */
  font-weight: bold; /* Makes the label more prominent */
}

/* General style for the select box */
.sort-select {
  padding: 10px 15px; /* Padding for a comfortable click area */
  border-radius: 20px; /* Rounded corners for a modern look */
  border: 2px solid #000000; /* Stylish green border */
  background-color: #fff; /* White background to contrast the border */
  color: #333; /* Text color */
  cursor: pointer; /* Indicates the element is selectable */
  appearance: none; /* Removes default styling by the browser */
  outline: none; /* Removes the outline to control focus style manually */
  transition: all 0.3s ease; /* Smooth transitions for interaction */
  position: relative; /* Needed for absolute positioning of the pseudo-elements */
}

.sort-select:focus {
  border-color: #53a653; /* Enhanced green for focus */
}

.sort-select:hover {
  background-color: #f8f8f8; /* Light grey background on hover */
}

/* Custom arrow using pseudo-elements */
.sort-select::after {
  content: "▼";
  font-size: 12px;
  color: #4caf50; /* Arrow color matches the border */
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
